<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello There</title>
    <meta name="description" content="Hello!">
    <meta name="author" content="Yannick Körber">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    <script src="/external/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap.min.js"></script>
</head>


<!--<div class="row grow w-100">-->
<!--<div>Tokens: {{tokens}}</div>-->
<!--</div>-->
<body>

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
        <a class="nav-link active" id="blackboard-view-tab" data-toggle="tab" href="#blackboard-view" role="tab" aria-controls="blackboard-view"
           aria-selected="false">Blackboard Overview</a>
    </li>
	<li class="nav-item">
        <a class="nav-link" id="blackboard-rules-tab" data-toggle="tab" href="#blackboard-rules" role="tab" aria-controls="blackboard-rules"
           aria-selected="false">Blackboard Rules</a>
    </li>
	<li class="nav-item">
        <a class="nav-link" id="blackboard-input-tab" data-toggle="tab" href="#blackboard-input" role="tab" aria-controls="blackboard-input"
           aria-selected="false">Blackboard Input</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="behavior-tab" data-toggle="tab" href="#behavior" role="tab" aria-controls="behavior"
           aria-selected="false">Behavior</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane show active" id="blackboard-view" role="tabpanel" aria-labelledby="blackboard-view">
        <h2>Blackboard Overview</h2>
        <h2>iteration={{iteration}}</h2>
		<h3>Tokens</h3>
		
		<table>
            <tr>
                <th>type</th>
                <th>uuid</th>
                <th>timestamp</th>
            </tr>
			<tr v-bind:class="{ inactiveRule: !token.active }" v-for="token in tokens">
				<td>{{token.type}}</td>
				<td>{{token.uuid}}</td>
				<td>{{token.timestamp}}</td>
				<!--<td>{{item.active}}</td>
				<td><span style="background-color:#00FF00" class="badge badge-secondary tag"
						  v-color v-for="(item, index) in item._uuid">{{item}}</span></td>-->
			</tr>
		</table>
    </div>
	
	
	<div class="tab-pane" id="blackboard-rules" role="tabpanel" aria-labelledby="blackboard-rules">
        <h2>Blackboard Overview</h2>
		<h3>Rules</h3>
		
		<table>
            <tr>
                <th>name</th>
                <!--<th>uuid</th>
                <th>timestamp</th>-->
            </tr>
			<tr v-bind:class="{ inactiveRule: !rule.lastActiveState }" v-for="rule in rules">
				<td>{{rule.name}}</td>
				<!--<td>{{token.uuid}}</td>
				<td>{{token.timestamp}}</td>
				<td>{{item.active}}</td>
				<td><span style="background-color:#00FF00" class="badge badge-secondary tag"
						  v-color v-for="(item, index) in item._uuid">{{item}}</span></td>-->
			</tr>
		</table>
    </div>
	
	<div class="tab-pane" id="blackboard-input" role="tabpanel" aria-labelledby="blackboard-input">
        <h2>Blackboard Overview</h2>

		<h3>Input: Basic Token</h3>
		<div>
            <textarea v-model="tokenContent" id="tokenContentTextArea" cols=40 rows=10></textarea>
        </div>
        <div>
            <select v-model="tokenContentSelection">
                <option v-for="(value, key) in examples">{{key}}</option>
            </select>
            <button v-on:click="sendToken">Send Basic Token to Blackboard</button>
        </div>

        <h3>Input: KB Token</h3>
        <div>
            <textarea v-model="kbTokenContent" id="kbTokenContentTextArea" cols=40 rows=10></textarea>
        </div>
        <div>
            <select v-model="kbTokenContentSelection">
                <option v-for="(value, key) in kbExamples">{{key}}</option>
            </select>
            <button v-on:click="sendKBToken">Send KB Token to Blackboard</button>
        </div>
		
    </div>

    <div class="tab-pane" id="behavior" role="tabpanel" aria-labelledby="behavior-tab">
        <select v-model="behavior">
            <option v-for="(behavior, key) in behaviors">{{key}}</option>
        </select>
        <div ref="graphContainer"
             style="position:relative;overflow:hidden;width:5000px;height:5000px;background-color: #FDFFFC;cursor:default;">
        </div>
    </div>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"/>-->
<script src="/external/vue.js"></script>


<script type="text/javascript">
    mxBasePath = '/external/mxgraph';
</script>
<script src="external/mxgraph/js/mxClient.js"></script>
<script src="behavior.js"></script>
<script src="blackboard.js"></script>

</body>
</html>