[submodule "external/sire"]
	path = external/sire
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/tecs/sire.git
[submodule "external/tecs"]
	path = external/tecs
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/tecs/tecs.git
[submodule "external/device-platform"]
	path = external/device-platform
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/dialog-system/device-platform.git
[submodule "external/jwiki"]
	path = external/jwiki
	url = https://github.com/fastily/jwiki.git
