[submodule "device-platform"]
	path = device-platform
	url = ssh://git@thrakh.feste-ip.net:8005/home/git/dialogue-system/device-platform.git
[submodule "idl"]
	path = idl
	url = ssh://git@thrakh.feste-ip.net:8005/home/git/dialogue-system/idl.git
[submodule "tecs"]
	path = tecs
	url = ssh://git@thrakh.feste-ip.net:8005/home/git/tecs/tecs.git