[submodule "device-platform"]
	path = device-platform
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/dialog-system/device-platform.git
[submodule "clml"]
	path = clml
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/dialog-system/clml.git
[submodule "tecs"]
	path = tecs
	url = ssh://git@lns-90165.sb.dfki.de:10022/i40/tractat/tecs/tecs.git