<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello There</title>
    <meta name="description" content="Hello!">
    <meta name="author" content="Yannick Körber">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/hello.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
</head>


<div id="app" class="container-fluid">
    <div class="row grow w-100">
        <div class="col-6">
            <!--<div class="row">-->
            <!--<div class="btn-toolbar">-->
            <!--<div class="btn-group">-->
            <!--<button v-on:click="undo">undo</button>-->
            <!--<button v-on:click="hello">hello</button>-->
            <!--<button v-on:click="repeat">repeat</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div>
                    <textarea v-model="intentContent" id="intentTextArea" cols=40 rows=10></textarea>
                </div>
            </div>
            <div>
                <select v-model="intentSelection">
                    <option v-for="(value, key) in intents">{{key}}</option>
                </select>
                <button v-on:click="sendIntent">sendIntent</button>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>iteration={{iteration}}</h2>

                    <table>
                        <tr>
                            <th>name</th>
                            <th>active</th>
                            <th>priority</th>
                            <th>tags</th>
                        </tr>
                        <tr v-for="item in rules">
                            <td>{{item.name}}</td>
                            <td>{{item.active}}</td>
                            <td>{{item.priority}}</td>
                            <td><span style="background-color:#00FF00" class="badge badge-secondary tag"
                                      v-color v-for="(item, index) in item.tags">{{item}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--<div class="col-6">-->
        <!--<div id="grammar">Grammar: {{grammar}}</div>-->
        <!--</div>-->
        <!--TODO replace iframe with reusable vue component-->
        <div class="col-6">
            <iframe id="behavior" width="100%" height="1000" src="/behavior.html">
            </iframe>
        </div>
    </div>
    <div class="row grow w-100">
        <table>
            <tr v-for="item in outputHistory.slice().reverse()">
                <td>{{item}}</td>
            </tr>
        </table>
    </div>

<body>


<!--<div class="menu">menu</div>-->


<!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
<div id="rules">


    <!--<div>Tokens: {{tokens}}</div>-->
</div>


<script src="/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="/bootstrap.min.js"></script>
<script>
    const app = new Vue({
            el: '#app',
            data: {
                interval: null,
                iteration: 0,
                rules: [],
                tokens: [],
                grammar: null,
                tagToColorMap: {},
                colors: ["black", "CornflowerBlue", "DarkSeaGreen", "DarkSalmon",
                    "IndianRed", "SlateGray", "LightSeaGreen", "PaleVioletRed", "Indigo", "Teal"],
                colorIndex: 0,
                intents: {
                    "select_task": {"intent": "select", "selection": "task2", "confidence": 0.8},
                    "accept_task": {"intent": "accept_task", "confidence": 0.8},
                    "specify_task": {"intent": "specify", "specification": "task3"},
                    "show_tasks": {"intent": "show_tasks"},
                    "hide_tasks": {"intent": "hide_tasks"},
                    "confirm": {"intent": "answer", "content": "confirm"},
                    "disconfirm": {"intent": "answer", "content": "disconfirm"},
                    "hello": {"intent": "greetings"},
                    "undo": {"intent": "undo"},
                    "repeat": {"intent": "repeat"},
                    "show_nav": {"intent": "request", "object": "navigation"},
                    "hide_nav": {"intent": "hide_navigation"},
                    "turn_grab": {"intent": "turn_grab"}

                    // {"intent": "select_task"},
                    // {"intent": "accept_task"},
                    // "select_task", "accept_task", "select_task_supp", "show_tasks", "hide_tasks", "accept", "reject"
                },
                intentSelection: "",
                intentContent: "",
                outputHistory: [],
            },
            methods: {
                updateData: function () {
                    $.get('/iteration', function (response) {
                        this.iteration = response.iteration;
                    }.bind(this));

                    $.get('/rules', function (response) {
                        this.rules = response;
                    }.bind(this));

                    $.get('/tokens', function (rsp) {
                        this.tokens = rsp;
                    }.bind(this));

                    $.get('/grammar', function (rsp) {
                        this.grammar = new XMLSerializer().serializeToString(rsp);
                    }.bind(this));

                    $.get('/output/history', function (rsp) {
                        this.outputHistory = rsp;
                    }.bind(this));
                },
                undo: function (event) {
                    var payload = {intent: "undo"};
                    this._sendIntent(payload);
                },
                hello: function (event) {
                    var intent = {intent: "greetings"};
                    this._sendIntent(intent);
                },
                repeat: function (event) {
                    var intent = {intent: "repeat"};
                    this._sendIntent(intent);
                },
                sendIntent: function (event) {
                    // var intent = JSON.parse(this.intentSelection);
                    var intent = JSON.parse($("#intentTextArea").val());
                    this._sendIntent(intent);
                },
                _sendIntent: function (intent) {
                    console.log("sending intent " + intent);
                    $.ajax({
                        'url': '/input/intent',
                        'method': 'POST',
                        'dataType': 'json',
                        'contentType': 'application/json',
                        'data': JSON.stringify(intent),
                        'processData': false
                    });
                }
            },
            watch: {
                intentSelection: function (val, oldVal) {
                    let msg = this.intents[val];
                    this.intentContent = JSON.stringify(msg, null, 2);
                }
            },
            created() {
                this.updateData();
                this.interval = setInterval(function () {
                    this.updateData();
                }.bind(this), 250);

            }
            ,
            directives: {
                color: {
                    update: function (el) {
                        //TODO how do I get the this context here? instead of app
                        var tag = $(el).text();
                        var data = app.$data;
                        var color = data.tagToColorMap[tag];
                        // console.log(color);
                        if (color == null) {
                            console.log("creating color for tag " + tag);
                            color = data.colors[data.colorIndex];
                            data.colorIndex += 1;
                            if (data.colorIndex >= data.colors.length) {
                                console.log("resetting color index");
                                data.colorIndex = 0;
                            }
                            data.tagToColorMap[tag] = color;
                        }

                        $(el).css({"background-color": color});
                    }
                }
            }
            // created() {
            //     fetch('http://localhost:50000/rules')
            //         .then(rsp => rsp.json())
            //         .then(json => {
            //             this.items = json
            //         })
            //     fetch('http://localhost:50000/iteration')
            //         .then(rsp => rsp.json())
            //         .then(json => this.iteration = json.iteration)
            // },
        })
    ;


</script>
</body>
</html>