

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #093145;
    color: white;
}


button {
    background-color: #107896;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: 2px darkgray;
    border-radius: 1px;
}

button:hover{
    background-color: #3C6478; /* Green */
    color: white;
}

.btn-group{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 10px darkgray;
    outline: 4px darkgoldenrod;
}


textarea {
    background-color: #0D3D56;
    color: white;
}

select {
    background-color: #107896;
    color: white;
    border: 0 !important; /*remove border*/
    width: 200px;
    box-shadow: none;
}

/*used to change the appearance color of an inactive rule */
.inactiveRule {
    color: darkgray;
}